<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/forms.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/buttons.css') }}">
  <script src="https://kit.fontawesome.com/a72a13a610.js" crossorigin="anonymous"></script>
  <title>My Travel Bucket List</title>
</head>
<body>
  <main class="flex flex--row">
  <header>
    <nav>
      <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/my-list">My List</a></li>
        <li><a href="/my-list/new-country">Add Country</a></li>
        <li><a href="/my-list/new">Add Destination</a></li>
      </ul>
    </nav>
  </header>
  <div class="container">
    {% block content %}
    <div>
      <img src="static/imgs/splash.jpeg" alt="plane around globe">
    </div>
    {% endblock %}
  </div>
  </main>
</body>
</html>
