{% extends "base.html" %}
{% block content %}

<form action="/my-list/{{city.id}}" method="post">


  <div>
    <label for="city">City:</label>
    <input type="text" id="city" name="city" value="{{city.name}}" required>
  </div>


  <div>
    <label for="country">Country:</label>
    <select id="country" name="country_id">
      {% for country in all_countries %}
        <option value="{{country.id }}"
          {% if city.country.id== country.id %} selected="selected"{% endif %}>
          {{ country.name }}
        </option>
      {% endfor %}
    </select>
  </div>

  <div>
    <label for="visited">Visited:</label>
    <select id="visited" name="visited">
      <option value="true">True</option>
      <option value="false">False</option>
  </select>
  </div>

  <button type="submit">Update Destination</button>

</form>

{% endblock %}