{% extends "base.html" %}
{% block content %}

<form action="/my-list/{{sight.id}}/sights/update" method="post">


  <div>
    <label for="event">Event:</label>
    <input type="text" id="event" name="event" value="{{sight.event}}" required>
  </div>

  <div>
    <label for="review">Review:</label>
    <input type="text" id="review" name="review" value="{{sight.review}}" required>
  </div>

  <div id="city_id" name="city_id">
    <p>City: {{sight.city.name}}</p>
  </div>

  <button type="submit">Update Things To Do</button>

</form>

{% endblock %}