{% extends "base.html" %}
{% block content %}
    {% for city in all_cities %}
        <div class="city">
            <div class="content">
                {{ city.country.name }}
                <div class="city">
                    <a href="/my-list/{{ city.id }}">{{ city.name }}</a>
                </div>
                <div class="visited">
                    <i class="fa-solid fa-check"></i>
                </div>
                <div class="buttons">
                    <form class="delete-form" action="/my-list/{{ city.id }}/delete" method="POST">
                        <button class="trash-button">
                            <i class="fa fa-close fa-3x" style="color: red" aria-hidden="true"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}