{% extends 'base.html' %}

{% block content %}
        <form action="/my-list" method="post">
            <div>
            <label for="country">Country:</label>
            <input type="text" id="country" name="country_id" placeholder="Country" required>
            </div>

            <button type="submit">Add Country</button>
        </form>

        {% for country in all_countries %}
            <div class="countries">
                {{ country.name }}
            </div>
            <div class="buttons">
                <form class="delete-form" action="/my-list/{{ country.id }}/delete-country" method="POST">
                    <button class="trash-button">
                        <i class="fa fa-close fa-1x" style="color: red" aria-hidden="true"></i>
                    </button>
                </form>
                <p><a href="/my-list/{{country.id}}/edit-country">Edit</a></p>
            </div>
        {% endfor %}

  {% endblock %}