{% extends 'base.html' %}

{% block content %}
        <form action="/my-list/add" method="post" class="form">
            
            <div>
                <label for="event">Event:</label>
                <input type="text" id="event" name="event" placeholder="Event" required>
            </div>
                

            <div>
                <label for="review">Review:</label>
                <input type="text" id="review" name="review" placeholder="Review"></input>
            </div>
            
            <div>
                <label for="city">City:</label>
                <select id="city" name="city_id">
                  {% for city in all_cities %}
                    <option value="{{city.id}}"
                      {% if sight.city.id == city.id %} selected="selected"{% endif %}>
                      {{ city.name }}
                    </option>
                  {% endfor %}
                </select>
              </div>

            <button type="submit">Add Destination</button>
        
        </form>

{% endblock %}