{% extends 'base.html' %}

{% block content %}
        <form action="/my-list" method="post">
            <div class="country-button">
            <label for="country">Country:</label>
            <input type="text" id="country" name="country_id" placeholder="Country" required>

            <button type="submit">Add Country</button>
            </div>
        </form>

        {% for country in all_countries %}
        <div class="countries-list">    
            <div class="countries">
                {{ country.name }}
            </div>
            <div class="buttons">
                <form class="delete-form" action="/my-list/{{ country.id }}/delete-country" method="POST">
                    <button class="trash-button">
                        <i class="fa fa-close fa-1x" style="color: red" aria-hidden="true"></i>
                    </button>
                </form>
            </div>
            <div class="edit-button">
                <form class="edit-form" action="/my-list/{{country.id}}/edit-country">
                    <button class="edit-button">
                      <i class="fa-regular fa-pen-to-square"></i>
                    </button>
                </form>
            </div>
        </div>
        {% endfor %}

  {% endblock %}