{% extends 'base.html' %}
{% block content %}
    
<div>
  <div class="visit-full-item">
    <div class="city-name">
      <p>{{city.name}}</p>
    </div>
    <div class="country-name">
      <p>{{city.country.name}}</p>
    </div>
    <div class="visited">
      <p>Visited: {{city.visited}}</p>
    </div>
    <form class="edit-form" action="/my-list/{{city.id}}/edit">
        <button class="edit-button">
          <i class="fa-solid fa-pen-to-square" style="color: #ec4590;"></i>
  </div>
        {% for sight in all_sights %}
            <div class="sights">
                Event: {{ city.sight.event }}
                Review: {{ city.sight.review }}
            </div>
            <div class="buttons">
                <form class="delete-form" action="/my-list/{{ sight.id }}/delete-sight" method="POST">
                    <button class="trash-button">
                        <i class="fa fa-close fa-1x" style="color: red" aria-hidden="true"></i>
                    </button>
                </form>
                <p><a href="/my-list/{{sight.id}}/edit">Edit</a></p>
            </div>
        {% endfor %}

</div>

{% endblock content %}

